@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Lobster&display=swap');
*{
  margin: 0;
  padding: 0;
}
body {
	font-family: 'Comfortaa', cursive;
	font-size: 16px;
	color: #777777;
	line-height: 2.1em;
	font-weight: 450;
	background: #ffffff;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}

.header-section
{
height: 85vh;
background-size: cover;
position: relative;
margin-top: -58px;
}
.navbar-brand{
	font-family: 'Lobster', cursive;
	font-weight: normal;
	color: #FFAB40!important;
}
.navbar.navbar-expand-lg.navbar-light.bg-light {
	border: 1px solid black;
	border-radius: 10px;
	font-weight: bold;
}
.login a{
  font-weight: bold;
  font-size: 14px;
}
.navbar-expand-lg .navbar-nav .nav-link{
	font-weight: lighter;
	color: black;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: rgb(255, 171, 64);
}
.food_search_area {
	width: 50%;
	background: white;
	padding: 30px 100px 50px 100px;
	position: absolute;
	top: 25%;
	left: calc(25% - 0%);
	box-shadow: 0px 0px 4px #88888869;
}

.btn {
	border-radius: 40px;
}

.btn-insta-one {
	border-radius: 40px;
	border: 1px solid white;
	box-shadow: 1px 2px 2px 1px white;
	background-color: #E9880C;
	box-shadow: 0px 0px 4px #888888cf;
	color: white;
	padding-left: 25px;
	padding-right: 25px;
}

.btn-insta-one:hover{
	background-color: rgb(248, 157, 38);
	border-color: white;
}

.clear{
	clear: both;
}
.food_search_area_title p{
	font-weight: bold;
	font-size: 17px;
	text-align: center;
	color: black;
}
.food_search_area_title input {
	box-shadow: 1px 0px 5px #888888a1;
	color: black;
	border: 0;
	border-radius: 20px;
	padding-left: 20px;
}
.food_search_area_title input::placeholder {
	color: black;
	opacity: 1; /* Firefox */
  }
  
  .food_search_area_title input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: black;
  }
  
  .food_search_area_title input::-ms-input-placeholder { /* Microsoft Edge */
   color: black;
  }
  /* about us style 
   */
   .about_us {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	background-color: #C1C1C13D;
}
   .about_us h2{
	   font-size: 20px;
	   text-align: center;
	   color: black;
   }
   .about_us h4{
	   font-size: 15px;
	   text-align: center;
	   color: black;
	   margin-top: 5px;
   }
   .icon img {
	margin-top: 20px;
	margin-bottom: 20px;
}

.footer {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	background-color: #fff;
}

.footer h2{
	font-size: 20px;
	text-align: center;
	color: black;
	font-weight: bold;
}
.footer a{
	text-decoration: none;
	color: black;
	transition: .4s;
}
.footer a:hover{
	text-decoration: none;
	color: #FFBC49;
}
.bottom_cls{
	display: -ms-inline-grid;
	display: -moz-inline-grid;
	display: inline-grid;
}

/* product page  */
.search_bar .title{
	color: #FFBC49;
	font-weight: bold;
}
.search_bar {
	background-color: white;
	padding-top: 8px;
	padding-bottom: 8px;
	border: 1px solid black;
	background: white;
	background: linear-gradient(0deg, #CFCFCF 0%, rgba(255,255,255,1) 60%);
}
.product{
	background: rgb(240,171,104);
background: -moz-linear-gradient(0deg, rgba(240,171,104,1) 0%, rgba(249,217,192,0.7455181901862307) 100%);
background: -webkit-linear-gradient(0deg, rgba(240,171,104,1) 0%, rgba(249,217,192,0.7455181901862307) 100%);
background: linear-gradient(0deg, rgba(240,171,104,1) 0%, rgba(249,217,192,0.7455181901862307) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f0ab68",endColorstr="#f9d9c0",GradientType=1);
padding-bottom: 50px;
padding-top: 20px;
}
.product_search select {
	border: 0;
	background-color: transparent;
}
.product_single{
	border: 1px solid rgb(100, 100, 100);
	display: grid;
	grid-template-columns: 20% 80%;
	margin-top: 20px;
	text-decoration: none;
	color: black;
	transition: .1s;
	background-color: #EFEFEF;
}
.product_single:hover {
	color: #000000;
	box-shadow: 9px 8px 9px #888888bf;
}
.product_single-title {
	display: flex;
	font-size: 18px;
	font-weight: bold;
	margin-top: 15px;
	position: relative;
}
.distance {
	position: absolute;
	right: 10px;
	font-weight: normal;
	font-size: 14px;
}
.product_single-price{
 font-weight: bold;	
}
.product_single-content {
	padding-left: 10px;
}
.product_single-p {
	font-size: 12px;
}

/* product details page style  */
.product-details{
	background: rgb(240,171,104);
	background: -moz-linear-gradient(0deg, rgba(240,171,104,1) 0%, rgba(249,217,192,0.7455181901862307) 100%);
	background: -webkit-linear-gradient(0deg, rgba(240,171,104,1) 0%, rgba(249,217,192,0.7455181901862307) 100%);
	background: linear-gradient(0deg, rgba(240,171,104,1) 0%, rgba(249,217,192,0.7455181901862307) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f0ab68",endColorstr="#f9d9c0",GradientType=1);
	padding-top: 50px;
	padding-bottom: 60px;
}
.single_shop_products{
	background: rgb(240,171,104);
	background: -moz-linear-gradient(0deg, rgba(240,171,104,1) 0%, rgba(249,217,192,0.7455181901862307) 100%);
	background: -webkit-linear-gradient(0deg, rgba(240,171,104,1) 0%, rgba(249,217,192,0.7455181901862307) 100%);
	background: linear-gradient(0deg, rgba(240,171,104,1) 0%, rgba(249,217,192,0.7455181901862307) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f0ab68",endColorstr="#f9d9c0",GradientType=1);
	padding-top: 50px;
	padding-bottom: 60px;
}
.product-checkout{
	background: rgb(240,171,104);
	background: -moz-linear-gradient(0deg, rgba(240,171,104,1) 0%, rgba(249,217,192,0.7455181901862307) 100%);
	background: -webkit-linear-gradient(0deg, rgba(240,171,104,1) 0%, rgba(249,217,192,0.7455181901862307) 100%);
	background: linear-gradient(0deg, rgba(240,171,104,1) 0%, rgba(249,217,192,0.7455181901862307) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f0ab68",endColorstr="#f9d9c0",GradientType=1);
	padding-top: 50px;
	padding-bottom: 60px;
}
.product-details .back {
	text-decoration: none;
	color: #ffab40;
	font-weight: bold;
	font-size: 15px;
}

.product-details .back span {
	border: 2px solid black;
	background-color: #0078D7;
	padding: 2px 5px;
	color: white;
	padding-bottom: 0px;
}
.pd_single-title {
	font-size: 25px;
	color: #000000;
}
.pd_single-sub_title {
	font-size: 20px;
	font-weight: lighter;
	color: #000000;
	margin-bottom: 50px;
}


.single_shop_products{
	padding-top: 50px;
	padding-bottom: 50px;
}
.single_shop_products .nav-tabs .nav-item.show .nav-link, .single_shop_products .nav-tabs .nav-link {
	color:  #ffab40;
	background-color: transparent;
	border-color: #dee2e6 #dee2e6 #fff;
	border: 0;
	border-bottom: 1px;
	font-weight: bold;
}
.single_shop_products .nav-tabs .nav-item.show .nav-link, .single_shop_products .nav-tabs .nav-link.active {
	color:  #000000;
	background-color: transparent;
	border-color: #dee2e6 #dee2e6 #fff;
	border: 0;
	border-bottom: 1px;
}
.single_shop_products .nav-tabs {
	border-bottom: 1px solid #525252;
	padding-bottom: 2px;
}
.single_shop_products .tab-content .tab-pane{
	margin-top: 45px;
}
.shope_single_item-item {
	background-color: white;
	padding: 20px 20px;
}
.shope_single_item {
	color: black;
}
.shope_single_item-item {
	color:  #ffab40;;
}
.shope_single_item-item span {
	color: black;
	float: right;
}
.serves {
	color: black;
}
.shope_single_item {
	color: black;
	margin-bottom: 20px;
}
.single_shop_sidebar-cart{
	background-color: white;
	padding: 20px;
}
.price {
	float: right;
}
.btn.btn-close {
	font-size: 15px;
	padding: 0px;
	background-color: white;
	margin-top: -2px;
	box-shadow: none;
	
}
.single_shop_sidebar-line .title {
	color: #ffab40;
	padding-left: 10px;
}
.single_shop_sidebar-line {
	color: black;
}
.single_shop_sidebar-line_buttom {
	margin-top: -2px;
	margin-left: 20px;
	color: black;
	font-size: 12px;
	position: relative;
}
.single_shop_sidebar-line_buttom::before {
	position: absolute;
	content: '';
	left: 0;
	background-color: black;
	height: 1px;
	width: 100%;
	bottom: 0;
	margin-left: -15px;
}
.single_shop_sidebar-delivery_fee {
	color: black;
	margin-bottom: 8px;
}
.single_shop_sidebar-delivery_fee span {
	float: right;
}
.single_shop_sidebar-foodbeverage {
	color: black;
	margin-bottom: 8px;
}
.single_shop_sidebar-foodbeverage span.price {
	float: right;
}
.info{
	color: #ffab40;
	cursor: pointer;
}
.single_shop_sidebar-tax{
	color: black;
	margin-bottom: 8px;
}
.single_shop_sidebar-tax span{
	float: right;
}
.tips_area{
	display: flex;
	margin-top: 10px;
}
.tips_area .btn{
	padding: 0px 15px;
	border-radius: 0px;
	margin-right: 5px;
	font-size: 14px;
	box-shadow: none;
	background-color: white;
	border: 1px solid black;
	color: #E9880C;
	font-weight: bold;
}
.tips_area .btn:focus{
	background-color:#E9880C;
	color: white;
	border-color: #E9880C;
}
.tips_area .btn:hover{
	background-color:#E9880C;
	color: white;
	border-color: #E9880C;
}
.single_shop_sidebar-tip{
	color: black;
}
.single_shop_sidebar-title {
	color: black;
}
.product-checkout .back {
	text-decoration: none;
	color: #ffab40;
	font-weight: bold;
	font-size: 15px;
}.product-checkout .back span {
	border: 2px solid black;
	background-color: #0078D7;
	padding: 2px 5px;
	color: white;
	padding-bottom: 0px;
}
.ad_number {
	padding: 0px 9px;
	border-radius: 50px;
	padding-top: 5px;
	border: 2px solid black;
	background: white;
	color: black;
	font-weight: bold;
	margin-right: 10px;
}
.ad_number.two{
	padding: 0px 8px;
	padding-top: 4px;
}
.accordion-button {
	color: black !important;
}
.yourinfo{

}
.yourinfo .code{
	font-size: 12px;
}
#basic-addon2 {
	background: transparent;
	border-left: 0;
	cursor: pointer;
}
#phone {
	border-right: 0;
}

.product-checkout .nav-tabs .nav-item.show .nav-link, .product-checkout .nav-tabs .nav-link.active {
	color: #495057;
	background-color: #fff;
	border-color: none;
	border: none;
	background: #e9880c;
	border-radius: 0;
	color: white;
}
.product-checkout .nav-tabs {
	border-bottom: 1px solid #dee2e6;
	border: none;
}
.order_type_area-title {
	font-size: 15px;
	font-weight: bold;
}
.product_qntity .btn {
	padding: 0px 8px;
}
.btn_decrese{
	margin-right: 5px;
}
.btn_increse{
	margin-left: 5px;
}
.product_qt {
	width: 30px;
	border: 0;
}

.order_summery {
	padding: 20px 20px;
	background: #EEEEEE;
}
.order_summery-title {
	font-size: 15px;
	font-weight: bold;
	color: black;
}.total_area {
	background: white;
	padding: 20px;
}.subtotal_area {
	color: black;
	margin-bottom: 8px;
}.subtotal_area .dot{
	color: #e9880c;
}
.subtotal_area.grand_total {
	font-weight: bold;
	font-size: 15px;
}

.product-thankyou{
	background: rgb(240,171,104);
	background: -moz-linear-gradient(0deg, rgba(240,171,104,1) 0%, rgba(249,217,192,0.7455181901862307) 100%);
	background: -webkit-linear-gradient(0deg, rgba(240,171,104,1) 0%, rgba(249,217,192,0.7455181901862307) 100%);
	background: linear-gradient(0deg, rgba(240,171,104,1) 0%, rgba(249,217,192,0.7455181901862307) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f0ab68",endColorstr="#f9d9c0",GradientType=1);
	padding-top: 50px;
	padding-bottom: 60px;
}
.product-thankyou {
	color: black;
}
.product-thankyou .title {
	font-weight: bold;
}
.thankyou-p {
	font-size: 12px;
}
.thankyou-title-area {
	padding-bottom: 15px;
	border-bottom: 1px solid black;
}
.thankyou-order {
	padding-top: 10px;
	padding-bottom: 15px;
	border-bottom: 1px solid black;
}
.thankyou-delivery_address {
	padding-top: 10px;
	padding-bottom: 15px;
}
.thankyou-order .time {
		float: right;
}
.ty-date, .phone{
	color: #ADADAD;
	font-weight: bold;
}
.request {
	font-weight: bold;
}

@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
.login_page{
    background: #DE6262;  /* fallback for old browsers */
background: rgb(240,171,104);
background: -moz-linear-gradient(0deg, rgba(240,171,104,1) 0%, rgba(249,217,192,0.7455181901862307) 100%);
background: -webkit-linear-gradient(0deg, rgba(240,171,104,1) 0%, rgba(249,217,192,0.7455181901862307) 100%);
background: linear-gradient(0deg, rgba(240,171,104,1) 0%, rgba(249,217,192,0.7455181901862307) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f0ab68",endColorstr="#f9d9c0",GradientType=1);
 height: 100vh;
}

.login-sec{padding: 50px 30px; position:relative;}

.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #DE6262;}
.login-sec h2:after{content:" "; width:100px; height:5px; background:#FEB58A; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.btn-login{background: #DE6262; color:#fff; font-weight:600;}

.form-check {
    padding-top: 1.5em;
}

.modal-header{
	border-bottom:0;
}

.modal-footer{
	border-top:0;
}

.bg-req{
	background-color: #fff700;
	border-radius: 6px;
}

.form-check {
    padding-top: 0.5em;
}
.form-check a {
	float: right;
	text-decoration: none;
	color: #feb58a !important;
	font-size: 14px;
}
.from-check-brd{
	border-bottom: 1px solid #e9e9e9;
}

.form-check .form-check-input[type="checkbox"] {
	border-radius: .25em;
	margin-top: 8px;
}
.btn-gp-half{
	max-width: 45%;
    width: 100%;
}
.map_area.map-responsive iframe {
	width: 100%;
}
.product_details_model {
	height: 65vh;
	overflow-y: scroll;
}