/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 375.98px) { 
    .product_single {
        grid-template-columns: 30% 70%;
    }

 }
 @media (max-width: 575.98px) { 
    .food_search_area {
        width: 90%;
        padding: 20px 30px;
        top: 35%;
        left: calc(90% - 85%);
    }
    .product_single {
        display: block;
    }
    .product_single-image {
        text-align: center;
        margin-top: 15px;
    }
    .product_qntity .btn {
        padding: 1px 6px;
        font-size: 10px;
    }
 }

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .product_single {
        grid-template-columns: 30% 70%;
    }
    .food_search_area {
        width: 80%;
        padding: 30px 50px 50px 50px;
        left: calc(10% - 0%);
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .food_search_area {
        width: 70%;
        left: calc(15% - 0%);
    }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .food_search_area {
        width: 70%;
        left: calc(15% - 0%);
    }
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }